/* Global */
*{
    position: relative;
}

html { 
    background: url('../resources/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body { 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

section { 
    background: #fff;
}


section:before {
    height: 69px;
    content: "";
    display:block;
}



.btn-warning { 
    background-image: linear-gradient(90deg,#ffd726 0%,#fcee27 100%)!important;
    border-color: #ffd726;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

/*  Navigation Bar  */
nav { 
    background-color: #fcee27;
    font-weight: 500;
}

nav a img { 
    height: 80%;
    width: 80%;
}

.hvr-underline-from-center:before {
    background: rgb(0, 0, 0);
}

.navbar #navbarContent .navbar-nav .text { 
    color: rgb(0, 0, 0);
}

/* Home Section */
#HomeSection { 
    /*background: rgb(255,249,115);
    background: linear-gradient(353deg, rgba(255,249,115,1) 0%, rgba(252,238,39,1) 55%);*/
    background: linear-gradient(to bottom,rgba(26, 26, 26, 0.808) 0,rgba(37, 37, 37, 0.808) 100%),url("../resources/large.jpg");
    background-size: cover;
    min-height: 80vh;
    color: #ffffff;
    border-bottom: 2px solid rgb(0, 0, 0);
}

#HomeSection:before {
    height: 0;
}

#HomeSection h1{ 
    font-size: 4rem;
    padding-top: 1rem;
}

#HomeSection p {
    font-size: 20px
}

#HomeSection h4 { 
    letter-spacing: 10px; 
    font-style: italic; 
    font-weight: 200;
    color: #fcee27;
    margin: 0;
}

#HomeSection hr {
    border-top: 2px solid #fcee27;
}

#header { 
    padding-top: calc(5rem + 70px);
}

/* Services */
#Services {
    padding-top: 5rem;

}

#Services h1 { 
    font-size: 3rem;
}

#Services .panel-icon { 
    font-size: 4rem;
    background-color: #fff786;
    padding: 1rem;
    border-radius: 50%;
    border: 2px solid #ffee00;
    margin-bottom: 1rem;
}

#Services a {
    text-decoration: none;
}

#Services a ion-icon{ 
    vertical-align: text-bottom;
}

#Services .panel { 
    box-shadow: 0 2px 30px 0 rgba(0,0,0,.2);
    border-radius: 10px;
    height: auto;
    visibility: hidden;
}

#features ion-icon{ 
    vertical-align: text-bottom;
    font-size: 1.5rem;
}

/* Mission Statement */
#MissionStatement .portrait-container ion-icon{ 
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s ease;
    cursor: pointer;
}

#MissionStatement .container .portrait{ 
    opacity: 1;
    height: 100%;
    width: 100%;
    transition: 0.3s ease;
    cursor: pointer;
}

#MissionStatement .portrait-container:hover .portrait{ 
    opacity: 0.5;
}

#MissionStatement .portrait-container:hover ion-icon{ 
    opacity: 1;
}


#dom-info { 
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 0;
    width:300px;
    background-color: rgb(255, 244, 83);
    overflow: hidden;
    overflow-x: hidden;
    margin-top: 40px;
    height: 100%;
    transition: all 0.3s;
    z-index: 1;
}

#dom-info button {
    float: right;
}

#dom-info ion-icon { 
    font-size: 1.5rem;
}

#dom-info .container .portrait{ 
    height: auto;
    max-width: 100%;
    cursor: default;
}

#dom-info p { 
    background-color: rgb(255, 248, 153);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 30px 0 rgba(0,0,0,.2);
}

#rocco-info { 
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 0;
    width:300px;
    background-color: rgb(255, 244, 83);
    overflow: hidden;
    overflow-x: hidden;
    margin-top: 40px;
    height: 100%;
    transition: all 0.3s;
    z-index: 1;
}

#rocco-info button {
    float: right;
}

#rocco-info ion-icon { 
    font-size: 1.5rem;
}

#rocco-info .container .portrait{ 
    height: auto;
    max-width: 100%;
    cursor: default;
}

#rocco-info p { 
    background-color: rgb(255, 248, 153);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 30px 0 rgba(0,0,0,.2);
}

.active { 
    margin-right: -300px;
}

/* Banner */

.banner {
    padding: 0.5rem 0;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23444444' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23444444'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

iframe { 
    width: 100%;
}

.polygons { 
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100px;
    box-sizing: border-box;
}

.polygon-right {
    position: absolute;
    display: block;
    height: 90px;
    left: 0;
    right: 0;
    top: -1px;
    background-image: linear-gradient(25deg,#131313,#2e2e2e 70%,#202020 0);
    clip-path: polygon(0 0,100% 0,100% 100%);
    -webkit-clip-path: polygon(0 0,100% 0,100% 100%);
}

.polygon-left { 
    position: absolute;
    display: block;
    height: 60px;
    left: 0;
    right: 30%;
    top: -1px;
    background-image: linear-gradient(-90deg,#fdff98,#fcee27 100%);
    clip-path: polygon(0 0,100% 0,0 100%);
    -webkit-clip-path: polygon(0 0,100% 0,0 100%);
}

#video { 
    color: #fff;
}

#video h2 {
    color: #fff458;
    font-weight: 700;
    font-size: 2rem;
}

/* Portfolio */
#Portfolio h1 {
    font-weight: 700;
}

#Portfolio .carousel-caption { 
    background-color: rgb(0, 0, 0);
}

/* Get Started */
#GetStarted { 
    background: rgba(27, 27, 27, 0.678);
    color: #fff
}

#GetStarted h3 {
    color: #fff458;
}

#GetStarted ion-icon{
    font-size: 2rem;
    transform: translateY(5px);
}

#GetStarted:before {
    height: 0;
}

/* Clients */
#Clients:before { 
    height: 0;
}

/* Reviews */
#Reviews { 
    background: rgba(27, 27, 27, 0.678);
    color: #fff;
    min-height: 305px;
}

#Reviews:before{
    height: 0
}

#Reviews img { 
    height: 20%;
    width: 20%;
    background: rgba(255, 255, 255, 0.377);
    border-radius: 30px;
}

#Reviews .carousel-item{ 
    min-height: 260px;
    padding-top: 3rem;
}

#Reviews h5 { 
    font-style: italic;
}

/* Let's Talk */

#LetsTalk form {
    box-shadow: 0 2px 30px 0 rgba(0,0,0,.2);
    border-radius: 10px;
    padding: 2rem;
}   

#LetsTalk h1 {
    font-weight: 700;
}

#LetsTalk #certs img { 
    max-width: 100%;
    height: auto;
    object-fit: contain;
    box-shadow: 0 2px 30px 0 rgba(0,0,0,.2);
    padding: 10px;
    border-radius: 10px;
}

/* Footer */
#Footer { 
    background-image: url('../resources/footer-bg.jpg');
    background-size: cover;
    color: #fff;
}

#Footer a { 
    text-decoration: none;
    color: #fff;
}

#Footer a:hover {
    color: #fff458;
}

#Footer hr {
    border-top: 1px solid rgba(255, 255, 255, 0.685);
}

#Footer .contact-info{ 
    color: #fff458;
}

#Footer ion-icon { 
    font-size: 2rem;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 0.5rem;
}

#Footer #social-media a:hover{
    color: #fff;
}

footer {
    background-color: rgb(22, 22, 22);
    color: #fff;
}


/* Media Queries */
@media (max-width: 1024px) {
    #headertext{
        font-size: 3.5rem !important;
    }

    .panel {
        min-height: 364px;
    }

    #dom-info img {
        height: auto !important;
        width: 75% !important;
    }

    #rocco-info img {
        height: auto !important;
        width: 75% !important;
    }
}

@media (max-width: 992px) {
    .panel {
        margin-top: 1rem !important;
        min-height: 300px;
    }
}

@media (max-width: 768px) {
    #headertext{
        font-size: 3.5rem !important;
    }

    .panel {
        margin-top: 1rem !important;
    }

    #LetsTalk {
        padding-top: 0 !important;
    }

    #LetsTalk form {
        margin-top: 1rem;
    }

    #certs {
        padding-top: 0 !important;
    }

    #certs img{
        margin-top: 1rem;
    }
}

@media (max-width: 576px) {

    #header {
        padding-top: calc(2rem + 70px);
    }

    #headertext{
        font-size: 3rem !important;
    }

    #HomeSection h5{
        font-size: 1rem !important;
    }

    .panel {
        margin-top: 1rem !important;
    }

    #services-btn button{
        width: 50% !important;
    }

    #features {
        text-align: center !important;
    }

    #features .col-md-2 {
        padding-left: 0;
    }

    #GetStarted button {
        margin-top: 1rem;
    }

    #LetsTalk {
        padding-top: 0 !important;
    }

    #LetsTalk form {
        margin-top: 1rem;
    }

    #certs {
        padding-top: 0 !important;
    }

    #certs img{
        margin-top: 1rem;
    }

    #dom-info img {
        height: auto !important;
        width: 75% !important;
    }

    #rocco-info img {
        height: auto !important;
        width: 75% !important;
    }

    #mission-btn {
        width: 50% !important;
    }
}